<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Change the path when re-factoring. -->
<!-- It will be better to put this xml file and the mapper interfaces under the same package. -->
<mapper namespace="evolution.mybatis.mapper.AnotherMapper">
	<!-- Type alias is defined in application.properties and DaoConfiguration.  -->
    <resultMap id="simpleStudent" type="SimpleStudent">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>
    <select id="selectAllUsingXml" resultMap="simpleStudent">
        select id, name from any_table
    </select>
    <select id="selectByNameUsingXml" resultMap="simpleStudent">
        select id, name from any_table where name = #{name}
    </select>
    <insert id="insertUsingXml" parameterType="evolution.entity.Student" useGeneratedKeys="true" keyProperty="id">
        insert into any_table(name) values(#{name})
    </insert>
</mapper>